* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Shopping Cards*/
.cards {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: center;
    height: 60vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.card p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: red;
}

.cards button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 50%;
    height: 25%;
    background-color: rgb(242, 199, 68);
    border: none;
}

.cards button:hover {
    box-shadow: 3px 3px;
}

.sold {
    pointer-events: none;
    color: grey;
}